@import "tailwindcss";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

body {
    margin: 0;
    background: #0B0F0D;
    color: white;
    font-family: Rubik, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

#root {
    width: 100%;
    overflow-x: hidden;
}